body {
    margin: 0;
    font-family: sans-serif;
    color: rgb(109, 63, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.login-container {
    background: rgba(64, 51, 208, 0.7);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2213c5;
}

button {
    background-color: #8a2be2;
    color: rgb(94, 47, 224);
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}
